/* defaults */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

/* dashboard-body */
.dashboard-body {
	height: 100vh;
	background-color: #0f0f0f;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-body .dashboard {
	background-color: #1e1e1e;
	width: 320px;
	height: 240px;
	padding: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dashboard-body .dashboard .rpm-circles {
	display: flex;
	justify-content: space-between;
}

.dashboard-body .dashboard .rpm-circles .circle {
	padding: 10px;
	background-color: #f3f3f3;
	border-radius: 50%;
	margin: 0.5px;
}

.dashboard-body .dashboard .rpm-number {
	margin-top: 15px;
}

.dashboard-body .dashboard .rpm-number h1 {
	font-size: 4rem;
	color: #fff;
}
